In [24]:
import pandas as pd

In [25]:
base = pd.read_csv('census.csv')

In [26]:
base.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [27]:
previsores = base.iloc[:,0:14].values

In [28]:
classe = base.iloc[:,14].values

In [29]:
# Tranforma variaveis categoricas em numericas
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer

implamentação e falhar pois atribuir valor a uma variavel pode internder que 3 preto e 
maior que 1 branco
labels = labelencoder_previsores.fit_transform(previsores[:,1])
previsores[:,1] = labelencoder_previsores.fit_transform(previsores[:,1])
previsores[:,3] = labelencoder_previsores.fit_transform(previsores[:,3])
previsores[:,5] = labelencoder_previsores.fit_transform(previsores[:,5])
previsores[:,6] = labelencoder_previsores.fit_transform(previsores[:,6])
previsores[:,7] = labelencoder_previsores.fit_transform(previsores[:,7])
previsores[:,8] = labelencoder_previsores.fit_transform(previsores[:,8])
previsores[:,9] = labelencoder_previsores.fit_transform(previsores[:,9])
previsores[:,13] = labelencoder_previsores.fit_transform(previsores[:,13])

In [30]:
labelencoder_previsores = LabelEncoder()

#Cria novas colunas com as variaveis categoricas
onehotencorder = ColumnTransformer(transformers=[("OneHot", OneHotEncoder(), [1,3,5,6,7,8,9,13])],remainder='passthrough')
previsores = onehotencorder.fit_transform(previsores).toarray()

labelencorder_classe = LabelEncoder()
classe = labelencorder_classe.fit_transform(classe)

In [32]:
previsores.shape

(32561, 108)

In [33]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
provisores = scaler.fit_transform(previsores)

In [35]:
pd.DataFrame(provisores).head()

,0,1,2,3,4,5,6,7,8,9,...,98,99,100,101,102,103,104,105,106,107
0,-0.24445,-0.174295,-0.262097,-0.014664,-1.516792,-0.188389,-0.290936,4.907700,-0.02074,-0.171753,...,-0.024163,0.340954,-0.045408,-0.022173,0.030671,-1.063611,1.134739,0.148453,-0.21666,-0.035429
1,-0.24445,-0.174295,-0.262097,-0.014664,-1.516792,-0.188389,3.437186,-0.203761,-0.02074,-0.171753,...,-0.024163,0.340954,-0.045408,-0.022173,0.837109,-1.008707,1.134739,-0.145920,-0.21666,-2.222153
2,-0.24445,-0.174295,-0.262097,-0.014664,0.659286,-0.188389,-0.290936,-0.203761,-0.02074,-0.171753,...,-0.024163,0.340954,-0.045408,-0.022173,-0.042642,0.245079,-0.420060,-0.145920,-0.21666,-0.035429
3,-0.24445,-0.174295,-0.262097,-0.014664,0.659286,-0.188389,-0.290936,-0.203761,-0.02074,-0.171753,...,-0.024163,0.340954,-0.045408,-0.022173,1.057047,0.425801,-1.197459,-0.145920,-0.21666,-0.035429
4,-0.24445,-0.174295,-0.262097,-0.014664,0.659286,-0.188389,-0.290936,-0.203761,-0.02074,-0.171753,...,-0.024163,-2.932948,-0.045408,-0.022173,-0.775768,1.408176,1.134739,-0.145920,-0.21666,-0.035429